/* CSS Document */
* {
  box-sizing: border-box;
  /* resetting user-agent margin & padding on every element */
  margin: 0;
  padding: 0;
}

body {
  /* setting explicit font, -size and -color instead of the user agent default */
  font-family: Helvetica;
  font-size: 18px;
  color: black;
}

/* styling heading1 element */
h1 {
  font-size: 1.75em; 
  text-align: center;
  margin: 25px 0 30px;
}

section > div {
  /* placeholder for the section item (title and description) */
  border: 1px solid black;
  background-color: grey;
  padding: 0 0 7px 7px;
  margin: 10px;
  position: relative; /* we want the paragraph (<p>) child element positioned relative to this element */
}

/* section title */
section div p {
  border: 1px solid black;
  font-size: 1.25em;
  /* it will be positioned in the top right corner of its first ancestor 
	with non-static position set (section > div) */
  position: absolute;
  top: 0;
  right: 0;
}

p#chicken {
  background-color: beige;
}

p#beef {
  background-color: #8A0A31;
  color: white;
}

p#sushi {
  background-color: aquamarine;
}

section div div {
  /* make sure the dummy text is "pushed down" enough so it doesn't overlap the section title region */
  margin-top: 35px;
}

/* Simple Responsive Framework. */
.row {
  /* width: 100%; */
  margin: 0 10px;
}
/********** Desktop view **********/
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
  }
  .col-lg-4 {
    width: 33.33%;
  }
}
/********** Tablet view **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-md-12 {
    float: left;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
  }
}
/********** Mobile view **********/
@media (max-width: 767px) {
  .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
}